	@charset "UTF-8";
	
	.navbar-divider {
	  color: #666;  /* Adjust to your desired shade of light black */
	  margin: 0 16px 0 0; /* Add spacing on either side of the divider */
	}
	
.slider {
    width: 100%; /* 부모 요소에 꽉 차도록 */
    height: 853px; /* 높이는 유지 */
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

ul.imgs {
    padding: 0;
    margin: 0;
    width: 400%; /* 이미지 수에 따라 조정 */
    display: flex;
    transition: transform 1s ease;
}

ul.imgs li {
    list-style: none;
    width: 25%; /* 이미지 수에 따라 조정 */
}

ul.imgs li img {
    width: 100%; /* 이미지가 부모 요소에 꽉 차도록 */
    height: 100%; /* 이미지가 부모 요소에 꽉 차도록 */
    object-fit: cover; /* 원본 비율을 유지하면서 부모 요소 내에 꽉 차도록 */
}
	
.bullets {
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    bottom: 20px;
	    z-index: 2;
	}
	
.bullets label {
	    display: inline-block;
	    border-radius: 50%;
	    background-color: rgba(0, 0, 0, 0.55);
	    width: 20px;
	    height: 20px;
	    cursor: pointer;
	    margin-right: 5px;
	}
	
.bullets label:hover {
	    background-color: #fff;
	}
	
input[type="radio"] {
	    display: none;
	}
	
input[type="radio"]:checked ~ .imgs {
	    transform: translateX(-25%); /* 이미지 수에 따라 조정 */
	}
	
	
	
	
#imgSlider {
	
	 padding-top: 0 !important;
	    padding-bottom: 0 !important;

    background-color: white !important;
    
}



.userhead{
	
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(170, 170, 170);
	
}

#reviewBtn{
	
	font-size: 24px;
	vertical-align: middle;
	background-color: #666;
	margin-bottom: 15px;
}

.search{
	justify-content: center;
	display: flex;
	margin:20px;
}

.search label{
	
	margin-right: 10px;
}

#paggingBtn{
	
	display: flex;
	justify-content: center;
	margin: 10px 0 20px 0;
}

#paggingBtn button{
	
	    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 7px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: white;
    margin-left: 10px;
}

.search-input{
	margin-right:10px;
}

.card.h-100 .card-img-top {
    width: 100%; /* 이미지가 부모 요소 너비의 100%를 차지하도록 */
    height: 66.666%; /* 부모 요소 높이의 2/3을 차지하도록 (100% / 3 * 2) */
    object-fit: cover; /* 원본 비율을 유지하면서 부모 요소 내에 꽉 차도록 */
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%; /* Ensure the slider takes the full width of its parent */
    height: 853px; /* Adjust this based on your design requirements */
}

.box {
    flex: 0 0 auto;
    width: 100%; /* Each box takes up the full width of the slider */
    height: 100%; /* Ensure each box takes up the full height of the slider */
}

.box img {
    width: 100%; /* Ensure images stretch to fill the width of the box */
    height: 100%; /* Ensure images stretch to fill the height of the box */
    object-fit: cover; /* Cover the box without losing the aspect ratio */
    display: block; /* Remove any default margin/padding */
}
