<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout :: layout(~{this::head},~{this::main})}">
<head>
<meta charset="UTF-8">

		
		<!-- 부트스트랩 css 사용 -->
		<link rel="stylesheet" href="/css/bootstrap.css">
		<!--  부트스트랩 js 사용 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>일반리뷰 목록</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/review/styles.css" rel="stylesheet" />
        <script type="text/javascript" src="/js/review/scripts.js"></script>
		<link rel="stylesheet" href="/css/review/review.css">

</head>
<body>
<main>
	
	  <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/reviewHome">리뷰 홈</a>
                 <p class="navbar-divider">|</p> 
                <a class="navbar-brand" href="/reviewBoard">일반리뷰 목록</a>
                 <p class="navbar-divider">|</p> 
                <a class="navbar-brand" href="/reviewPro">평론가 평점 & 30자평</a>
                 <p class="navbar-divider">|</p> 
                <a class="navbar-brand" href="/reviewLike">영화가 좋다 기획</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!"></a></li>
                        <li class="nav-item"><a class="nav-link" href="#!"></a></li>
                        <li class="nav-item dropdown">
                          
                        </li>
                    </ul>
                    <form class="d-flex">
                       
                    </form>
                </div>
            </div>
        </nav>
	
	<div class="container">
	
	<div class="userhead">
	
  <h2>영화 리뷰 게시판</h2>    
  
   <a href="contentWrite.jsp" class="btn btn-primary pull-right">리뷰쓰기</a>      

	</div>

  <table class="table table-hover">

    <thead>

      <tr>

        <th>번호</th>

        <th>제목</th>

        <th>글쓴이</th>

        <th>평점</th>
        
        <th>조회수</th>
        
        <th>작성일</th>

      </tr>

    </thead>

    <tbody>

      <tr>

        <td>1</td>

        <td>비트코인 떡락</td>

        <td>네오보유자</td>

        <td>4.5/5</td>
        
        <td>1</td>
        
        <td>2018-03-11</td>

      </tr>

    </tbody>

  </table>

 

</div>	
	
	
	
	
	
</main>
</body>
</html>