<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout :: layout(~{this::head},~{this::main})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<main>
		<form action="/addnotice/register" method="post">
			<!-- 폼태그 시작 -->
			<div class="join_area">
				<h1 class="join_tilte">게시글 등록</h1>
				<div>
					<!-- name 속성 추가 -->
					<label for="title">제목</label><input type="text" maxlength="30"
						name="title">
				</div>
				<div>
					<label for="content">내용</label> <input type="text" maxlength="255"
						name="content">
				</div>
				<div class="button_area">
					<button class="join_button">
						<span>등록하기</span>
					</button>
				</div>
			</div>
		</form>
	</main>
</body>
</html>