<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout :: layout(~{this::head},~{this::main})}">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/summerNote/summernote-lite.js"></script>
<script src="/summerNote/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/summerNote/summernote-lite.css">
<script>
	$(document)
			.ready(
					function() {
						$('#summernote')
								.summernote(
										{
											toolbar : [
													[ 'fontname',
															[ 'fontname' ] ],
													[ 'fontsize',
															[ 'fontsize' ] ],
													[
															'style',
															[
																	'bold',
																	'italic',
																	'underline',
																	'strikethrough',
																	'clear' ] ],
													[
															'color',
															[ 'forecolor',
																	'color' ] ],
													[ 'table', [ 'table' ] ],
													[
															'para',
															[ 'ul', 'ol',
																	'paragraph' ] ],
													[ 'height', [ 'height' ] ],
													[
															'insert',
															[ 'picture',
																	'link',
																	'video' ] ],
													[
															'view',
															[ 'fullscreen',
																	'help' ] ] ],
											height : "500",
											lang : "ko-KR",
											fontNames : [ 'Arial',
													'Arial Black',
													'Comic Sans MS',
													'Courier New', '맑은 고딕',
													'궁서', '굴림체', '굴림', '돋움체',
													'바탕체' ],
											fontSizes : [ '8', '9', '10', '11',
													'12', '14', '16', '18',
													'20', '22', '24', '28',
													'30', '36', '50', '72' ],
										});
					});
</script>
</head>
<body>
	<main>
		<div id="detail-view">
			<div th:each="detail : ${noticeEditDTO}">
				<div style="width: 160px">제목</div>
				<div id="title" style="width: 160px" th:text="${detail.title}"></div>
				<div style="width: 380px">내용</div>
				<div id="content" style="width: 380px" th:utext="${detail.content}"></div>
				<div>
					<button class="button01" type="button" onclick="btnUpdateClicked()">수정</button>
					<button class="button01" type="button" onclick="btnDeleteClicked()">삭제</button>
					<button type="button" onclick="history.back()">목록</button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function btnUpdateClicked() {
				const detailView = document.getElementById("detail-view");
				detailView.style.display = "none";

				const updateView = document.getElementById("update-view");
				updateView.style.display = "block";

				// 제목과 내용 가져오기
				const title = document.getElementById("title").innerText;
				const content = document.getElementById("content").innerText;

				// 값을 수정하는 폼에 설정
				document.getElementById("update-title").value = title;
				document.getElementById("update-content").value = content;
			}

			function btnDeleteClicked() {
				if (confirm('정말로 삭제하시겠습니까?')) {
					const noticeId = $("#noticeId").data("notice-id");

					$.ajax({
						type: 'DELETE',
						url: '/deleteNotice',
						data: { no: noticeId },
						success: function(response) {
							alert('삭제되었습니다.');
							window.location.href = '/notice';
						},
						error: function(error) {
							console.error('삭제 중 에러 발생:', error);
							alert('삭제 중 에러가 발생했습니다. 다시 시도해주세요.');
						}
					});
				} else {
					// 사용자가 취소를 선택한 경우의 로직
				}
			}
		</script>
		<form th:action="|/noticeedit/${noticeEditDTO.no}|" method="post"
			id="update-view" style="display: none;">
			<div>
				<div>
					<div class="name">제목</div>
					<div class="text">
						<input id="update-title" class="inp" type="text" name="title">
					</div>
				</div>
				<div>
					<div class="name">내용</div>
					<div class="text">
					<textarea id="summernote" type="hidden" name="content"></textarea>
					</div>
				</div>
				<div class="button_area">
					<div>
						<input type="hidden" name="id" th:value="${noticeEditDTO.no}">
						<input type="hidden" name="_method" value="put">
						<button type="submit">수정</button>
						<button type="button" onclick="history.back()">취소</button>
					</div>
				</div>
			</div>
		</form>
	</main>
</body>
</html>