@charset "UTF-8";

html{
	display: flex;
	justify-content: center;
	
}


body{
	
	width:1200px;
}

*{
	font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
		
}