@charset "UTF-8";

.container-fluid img{
	
	width:270px;
}

.nav-link h3{
	
	font-size: 20px; 
	margin-bottom: 0;
	
}

#navbarNavDropdown{
	
	display: flex;
	justify-content: space-between;
	
}
