<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.Finemovie.mybatis.mapper.ReviewMapper">
	
	<insert id="save">  <!--인터페이스 매퍼파일의 구현 -->
		insert into review(title, content, writer,count,grade) <!--물리 DB에 잇는 컬럼명 그대로-->
		values(#{title}, #{content}, #{writer} ,#{count},#{grade}) <!--DTO, 카멜로 표현-->
	</insert>
  
	<select id="findAll" resultType="com.green.Finemovie.domain.dto.ReviewDTO"> <!--조회할 개수가 여러개인 경우 resultType 정의해주어야한다.-->
		select * from review
	    WHERE no > 0 AND title LIKE CONCAT('%', #{search}, '%')
	    order by no desc
	    LIMIT #{offset}, #{limit}
	</select>
	
	<select id="countAllSearch" resultType="int">
		select count(*) from review
		WHERE no>0 AND title LIKE CONCAT('%', #{search}, '%')
	</select>
  
</mapper>