<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/sign/sign.css">
	<style>

	</style>
</head>

<body>
	<main>
		<form action="/sign/signin" method="post">
			<div class="container" style="border:5px solid #201658 ; border-radius:3%;">
				<span class="title"><img src="/img/sign/fmlogo.PNG" style="width:400px;"></span>
				<div class="context_1">
					<div class="wrapper">
						<div class="id"><img src="/img/sign/person.svg"></div>
						<input type="text" class="input" name="memUsername" id="memUsername" placeholder="아이디를 입력해주세요">
					</div>
					<div class="wrapper">
						<div class="id"><img src="/img/sign/password.svg"></div>
						<input type="text" class="input" name="memPassword" id="memPassword" placeholder="비밀번호를 입력해주세요">
					</div>
					<button class="btn_login" type="submit">로그인</button>
				</div>
		</form>
		<div class="context_2">
			<span>아이디 찾기 |</span>
			<span>비밀번호 찾기 |</span>
			<a href="/signup"><span>회원가입</span></a>

		</div>
		</div>

	</main>
</body>

</html>