<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>자유게시글 등록 페이지</title>
<link rel="shortcut icon" type="image/x-icon" href="/img/imageicon.svg">
	<!-- 부트스트랩 css 사용 -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!--  부트스트랩 js 사용 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	
	<link rel="stylesheet" href="/css/free/freeAdd.css">
	
	<link rel="stylesheet" href="/css/layout/common.css">
	<link rel="stylesheet" href="/css/layout/header.css">
	
	
	<!--google font-->
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
<th:block th:replace="~{layout/header::header}">페이지마다 적용될 헤더</th:block>
</head>
<body>
<main>
	<div class="container_free_add">
		<p class="page_title">
				게시글 작성
		</p>
		<div class="page_content">
			<div class="content_free_add">
				<form name="freeAddForm" action="/freeAdd" method="post" onsubmit="return validateAndSubmit()">
					<div class="main_area">
						<div class="write_user">
							<th:block sec:authorize="isAuthenticated()">
								<div class="writer">작성자</div>
								<div class="title_item">
									<input type="text" placeholder="이름을 입력해주세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '이름을 입력해주세요.', validatewriter();" oninput="" autocomplete="off" class="input_txt" name="writer">
								</div>
								<!--<a sec:authentication="principal.Name">이름</a>-->
								<div class="password">비밀번호</div>
								<div class="title_item">
									<input type="password"  maxlength='8' placeholder="8자리 비밀번호를 입력하세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '8자리 비밀번호를 입력하세요', validatePassword()" autocomplete="off" class="input_txt" name="password">
								</div>
							</th:block>
						</div>
						<div class="content_title">
							<div class="title_name">제목</div>
							<div class="title_item">
								<input type="text" placeholder="제목을 입력해주세요." onfocus="this.placeholder = ''" onblur="this.placeholder = '제목을 입력해주세요.', validateFreeTitle();" oninput="" autocomplete="off" class="input_txt_title" name="title">
							</div>
						</div>
						<div class="content_text">
							<div class="content_name">내용</div>
							<div class="content_item">
								<textarea type="text" placeholder="영화를 주제로 자유롭게 글을 작성해주세요. 타인이 불쾌감을 느낄 수 있는 글은 삭제될 수 있습니다." onfocus="this.placeholder = ''"  onblur="this.placeholder = '영화를 주제로 자유롭게 글을 작성해주세요. 타인이 불쾌감을 느낄 수 있는 글은 삭제될 수 있습니다.', validateFreeContent();" autocomplete="off" class="freeContent" name="content"></textarea>
							</div>
						</div>
					</div>
					<div class="add_btn_box">
						<input type="submit" value="등록 하기" class="add_box"></input>
					</div>	
				</form>	
			</div>
		</div>
	</div>
</main>
<th:block th:replace="~{layout/footer::footer}" >footer섹션 적용</th:block>
</body>
</html>