<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>자유게시판</title>
<link rel="shortcut icon" type="image/x-icon" href="/img/imageicon.svg">
	<!-- 부트스트랩 css 사용 -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!--  부트스트랩 js 사용 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	
	<link rel="stylesheet" href="/css/free/freeList.css">
	
	<link rel="stylesheet" href="/css/layout/common.css">
	<link rel="stylesheet" href="/css/layout/header.css">
<th:block th:replace="~{layout/header::header}">페이지마다 적용될 헤더</th:block>
</head>
<body>
<main>
	<div class="container_free_list">
		<p class="page_title">
			자유게시판
		</p>
		<div class="page_content">
			<div class="content_free_list">
				<div class="free_console">
					<div class="search_box">
						<form th:action="@{/freeBoard}" method="get">
							<input type="search" placeholder="검색어를 입력하세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '검색어를 입력하세요'" autocomplete="off" class="input_search" name="search">
							<button type="submit" class="search_button">검색</button>
						</form>
					</div>
					<a href="/freeAdd" class="fr_button">게시글 작성</a>
				</div>
				<div class="main_area">
					<div class="free_bar">|  <p class="freeNo_list">번호</p>  |  <p class="freeTitle_list">제목</p>  |  <p class="writer_list">작성자</p>  |  <p class="createdDate_list">작성일</p>  |  <p class="viewCount_list">조회수</p>  |</div>
					<div class="free_data" th:each="freeBoard : ${list}"> <!-- 과정 정보 반복 출력 -->
						<a th:href="@{'/freeDetail/' + ${freeBoard.freeNo}}">
					        <div class="freeNo" th:text="${freeBoard.freeNo}"></div>
					        <div class="freeTitle" th:text="${freeBoard.freeTitle}"></div>
					        <div class="writer" th:text="${freeBoard.writer}"></div>
					        <div class="createdDate" th:text="${freeBoard.createdDate}"></div>
					        <div class="viewCount" th:text="${freeBoard.viewCount}"></div>
					    </a>
					</div>
				</div>
				<!--<div class="freeBoard_page_button">  페이지네이션 
					<div class="pagging-wrap">
						<a th:if="${pu.from > 1}" th:href="@{|/freeBoard?page=${1}&search=${keyword != null ? keyword : ''}|}">
				            <button class="first_page">&lt;&lt;</button>
				        </a> 
				        <a th:if="${pu.from > 1}" th:href="@{|/freeBoard?page=${pu.from-1}&search=${keyword != null ? keyword : ''}|}">
				            <button class="page_down">&lt;</button>
				        </a> 
				        <span id="pagging"> 
				            <a class="btn-page" th:each="pno:${#numbers.sequence(pu.from,pu.to)}" th:href="@{|/freeBoard?page=${pno}&search=${keyword != null ? keyword : ''}|}">
				                <button class="page_btn" th:text="${pno}" th:classappend="${pno == pu.page ? 'focused' : ''}"></button>
				            </a>
				        </span> 
				        <a th:if="${pu.to < pu.tot}" th:href="@{|/freeBoard?page=${pu.to+1}&search=${keyword != null ? keyword : ''}|}">
				            <button class="page_up">&gt;</button>
				        </a> 
				        <a th:href="@{|/freeBoard?page=${pu.tot}&search=${keyword != null ? keyword : ''}|}">
				            <button class="last_page">&gt;&gt;</button>
				        </a>
					</div>-->
				</div>
			</div>
		</div>
	</div>
</main>
<th:block th:replace="~{layout/footer::footer}" >footer섹션 적용</th:block>
</body>
</html>