<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout :: layout(~{this::head},~{this::main})}">
	
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		
		<!-- 부트스트랩 css 사용 -->
		<link rel="stylesheet" href="/css/bootstrap.css">
		<!--  부트스트랩 js 사용 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		
		
	</head>
	
	
	<body>
		<main>
		
		
	
		
		
	
		
		</main>
	</body>
</html>