<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout :: layout(~{this::head},~{this::main})}">
<head>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/index/index.css">
<script defer src="/js/index.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/movieintro/movieintro.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
	<main>
		<section>
			<h2 style="margin-top: 20px;">일간 박스오피스</h2>
			<div class="today" id="daily"></div>
		</section>
		<section id="slider1" class="slider">
			<div class="box">
				<img src="/img/index/banner.png" width="1200px" height="200px">
			</div>
		</section>
		<div class="row">
			<!-- 영화 리뷰 섹션 -->
			<div class="col-md-6 mb-4">
				<div class="review aa d-flex justify-content-between">
					<div>
						<span>영화 리뷰</span>
					</div>
					<div>
						<a class="link" href="reviewHome">+자세히 보기</a>
					</div>
				</div>
				<hr>
				<div class="col-md-12">
					<div style="display: flex; flex-direction: column">
						<div th:each="board : ${boardList}"
							style="display: flex; justify-content: space-between;">
							<div>
								<a th:href="@{/reviewBoard/{no}(no=${board.no})}"> <span
									th:text="${board.title}"></span>
								</a>
							</div>
							<div
								th:text="${#temporals.format(board.createdAt, 'yyyy.MM.dd')}"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- 공지사항 섹션 -->
			<div class="col-md-6 mb-4">
				<div class="info aa d-flex justify-content-between">
					<div>
						<span>공지사항</span>
					</div>
					<div>
						<a class="link" href="/notice">+자세히 보기</a>
					</div>
				</div>
				<hr>
				<div class="col-md-12">
					<div style="display: flex; flex-direction: column">
						<div th:each="notice, rowStat : ${noticeList}"
							style="display: flex; justify-content: space-between;">
							<div>
								<a th:href="|/noticeedit/${notice.id}|"> <span
									th:utext="${notice.title}"></span>
								</a>
							</div>
							<div
								th:text="${#temporals.format(notice.createdAt, 'yyyy.MM.dd')}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>