<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>500 Internal Server Error</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		.container {
			text-align: center;
		}

		h1 {
			font-size: 3em;
			margin-bottom: 20px;
		}

		p {
			font-size: 1.2em;
		}
	</style>
</head>

<body>
	<div class="container">
		<h2>없는 게시글</h2>
		<p>존재하지 않는 게시글 입니다. 리스트로 가주세요 !</p>
		<a href="/movieintro">리스트로 가기</a>
	</div>
</body>

</html>